# db
POSTGRES_USER=app_user
POSTGRES_PASSWORD="dev_password"
POSTGRES_DB=feedback_db
POSTGRES_PORT=5432
POSTGRES_SERVER=postgres
DB_ISOLATION_LEVEL=schema

# frontend
VITE_APP_NAME=frontend
VITE_APP_ENV=development
VITE_API_URL="http://localhost:5713/api"
NODE_ENV=development
FRONTEND_PORT=5173

# api
APP_ENV=development
DEBUG="true"
LOG_LEVEL=INFO
PYTHONPATH=/api
API_PORT=8001

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
