# meta
APP_ENV="development"

# db
POSTGRES_USER="app_user"
POSTGRES_PASSWORD="dev_password"
POSTGRES_DB="search_db"
POSTGRES_PORT=5432
POSTGRES_SERVER="search-postgres"
DB_ISOLATION_LEVEL="schema"

# frontend
VITE_APP_NAME="frontend"
VITE_APP_ENV="development"
VITE_API_URL="http://localhost"
NODE_ENV="development"
FRONTEND_PORT=5173

# api
DEBUG="true"
LOG_LEVEL="INFO"
API_PORT=8001

# Search
COORD_PORT=8003
